//////////////////////// BUTTONY ///////////////////

button {
  // Podstawowe ustawienia
  display: inline-block;
  padding: 12px 24px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  background: #f16232;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;

  // Styl na hover
  &:hover {
    background: #23e15c;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
